<a href="https://colab.research.google.com/github/aalihyarivero/COSC1110-LAB2/blob/main/lab2_titanic_RIVERO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Laboratory Activity #2:Data Cleaning and Analysis using Titanic dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

# Load the dataset
dataPath = '/content/drive/My Drive/lab1_titanic_RIVERO.ipynb/Titanic.csv'
df = pd.read_csv(dataPath)

# Display the first few rows
df.head()

1. What are your steps in cleaning the dataset? Why did you choose the algorithm that you used in cleaning the dataset?



*   **Loading the Data:** Using Pandas to load the dataset (train.csv) into a DataFrame.

*   **Understanding the data:** Using df.info(), df.describe(), and df.columns to understand the data structure and identify data types.


*   **Handling Missing Values:**
1.   Filling missing (Age) values with the median.
2.   Dropping the (Cabin) column due to excessive missing data.
3.   Removing rows with missing (Embarked) values.



*  **Removing Duplicates:** Using df.drop_duplicates() to eliminate duplicate rows.
*   **Fixing Data Types:** Converting Survived and Pclass to categorical data types for better analysis.
*   **Standardizing Column Names:** Converting all column names to lowercase for consistency.
*  **Saving the Cleaned Data sSet** Exporting to titanic_cleaned.csv.

**Choice of Algorithm:**
*  The median is chosen for (Age) to avoid the influence of outliers.
*  Dropping the (Cabin) column is justified due to excessive missing data.
*  Removing duplicates is essential for data integrity.

2. Create at least two (2) basic data analysis on two (2) columns in the dataset. Be creative and critical in deriving the insights on the data. You can show the visualization used to derive the insights.



**a. Survival Rate by Gender (Categorical Analysis):**

In [1]:
import matplotlib.pyplot as plt

df.groupby("sex")["survived"].mean().plot(kind="bar")
plt.title("Survival Rate by Gender")
plt.ylabel("Survival Rate")
plt.show()

NameError: name 'df' is not defined

**Insight:** Females had a significantly higher survival rate than males, likely due to the "women and children first" policy.

**b. Age Distribution (Numerical Analysis):**

In [2]:
df["age"].plot(kind="hist", bins=20, edgecolor="black")
plt.title("Age Distribution")
plt.xlabel("Age")
plt.show()

NameError: name 'df' is not defined

**Insight:** The age distribution shows a peak in younger passengers, which can help identify demographics more likely to survive.